h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #fbeaeb;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #fbeaeb;
  font-family: "Oswald", sans-serif;
}

#auth-hero {
  background-color: #2f3c7e;
}

#typing-animation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
#jagged-bottom-border {
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    )
    20%/50px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

#jagged-top-border {
  --mask: conic-gradient(
      from 135deg at top,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    )
    50%/50px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

body {
  background-color: #e6e5e5;
}

.Auth-Login-Container {
  background-image: linear-gradient(#fbeaeb, #2f3c7e);
}

.Auth-Register-Container {
  background-image: linear-gradient(#fbeaeb, #2f3c7e);
}

.Auth-Login-Box-Border {
  background-image: linear-gradient(#2f3c7e, #fbeaeb);
}

.Auth-Register-Box-Border {
  background-image: linear-gradient(#2f3c7e, #fbeaeb);
}
